name: Compile Debug APK

on:
  workflow_dispatch: # Allows manual trigger from GitHub UI
  push:
    branches: [ "main", "master" ]

jobs:
  assemble:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      
    - name: Build Debug APK
      run: ./gradlew assembleDebug

    - name: Upload Debug APK
      uses: actions/upload-artifact@v4
      with:
        name: BumpDesk-Debug
        path: app/build/outputs/apk/debug/app-debug.apk
